html.dark-mode {
    /* page base colors */
    --page-background-color: #000119;
    --page-foreground-color: #C9D1D9;
    --page-link-color: #3A5E7B;
    --page-visited-link-color: #487498;

    /* index */
    --index-odd-item-bg-color: #000119;
    --index-even-item-bg-color: #000119;
    --index-header-color: #789FBE;
    --index-separator-color: #070C10;

    /* header */
    --header-background-color: #000119;
    --header-separator-color: #000120;
    --header-gradient-image: url('gradient.png');
    --group-header-separator-color: #040608;
    --group-header-color: #3A5E7B;
    --inherit-header-color: #A0A0A0;

    --footer-foreground-color: #1E303E;
    --footer-logo-width: 60px;
    --citation-label-color: #3A5E7B;
    --glow-color: cyan;

    --title-background-color: #000119;
    --title-separator-color: #080D11;
    --directory-separator-color: #040608;
    --separator-color: #040608;

    --blockquote-background-color: #000119;
    --blockquote-border-color: #040608;

    --scrollbar-thumb-color: #040608;
    --scrollbar-background-color: #000119;

    --icon-background-color: #070C10;
    --icon-foreground-color: #789FBE;
    --icon-doc-image: url('docd.svg');
    --icon-folder-open-image: url('folderopend.svg');
    --icon-folder-closed-image: url('folderclosedd.svg');

    /* brief member declaration list */
    --memdecl-background-color: #000119;
    --memdecl-separator-color: #05080A;
    --memdecl-foreground-color: #BBB;
    --memdecl-template-color: #2E4A61;

    /* detailed member list */
    --memdef-border-color: #020405;
    --memdef-title-background-color: #010203;
    --memdef-title-gradient-image: url('nav_fd.png');
    --memdef-proto-background-color: #000119;
    --memdef-proto-text-color: #446D8E;
    --memdef-proto-text-shadow: #000119;
    --memdef-doc-background-color: #000119;
    --memdef-param-name-color: #D28757;
    --memdef-template-color: #2E4A61;

    /* tables */
    --table-cell-border-color: ##000119;
    --table-header-background-color: #000119;
    --table-header-foreground-color: #789FBE;

    /* labels */
    --label-background-color: #080E12;
    --label-left-top-border-color: #131E27;
    --label-right-bottom-border-color: #040608;
    --label-foreground-color: #CCCCCC;

    /** navigation bar/tree/menu */
    --nav-background-color: #000119;
    --nav-foreground-color: #080B56;
    --nav-gradient-image: url('gradient2.png');
    --nav-gradient-hover-image: url('tab_hd.png');
    --nav-gradient-active-image: url('tab_ad.png');
    --nav-gradient-active-image-parent: url("../tab_ad.png");
    --nav-separator-image: url('tab_sd.png');
    --nav-breadcrumb-image: url('bc_s.png');
    --nav-breadcrumb-border-color: #000119;
    --nav-splitbar-image: url('splitbard.png');
    --nav-font-size-level1: 13px;
    --nav-font-size-level2: 10px;
    --nav-font-size-level3: 9px;
    --nav-text-normal-color: #5E8CB2;
    --nav-text-hover-color: #A9C1D5;
    --nav-text-active-color: #A9C1D5;
    --nav-text-normal-shadow: #000119;
    --nav-text-hover-shadow: #000119;
    --nav-text-active-shadow: #000119;
    --nav-menu-button-color: #5E8CB2;
    --nav-menu-background-color: #000119;
    --nav-menu-foreground-color: #BBBBBB;
    --nav-menu-toggle-color: rgba(67 59 59 / 0.2);
    --nav-arrow-color: #3E42C0;
    --nav-arrow-selected-color: #3A5E7B;

    /* table of contents */
    --toc-background-color: #000119;
    --toc-border-color: #020304;
    --toc-header-color: #487498;
    --toc-down-arrow-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='5px'><text x='0' y='5' font-size='10' fill='grey'>&%238595;</text></svg>");

    /** search field */
    --search-background-color: #000119;
    --search-foreground-color: #C5C5C5;
    --search-magnification-image: url('mag_d.svg');
    --search-magnification-select-image: url('mag_seld.svg');
    --search-active-color: #C5C5C5;
    --search-filter-background-color: #000119;
    --search-filter-foreground-color: #3A5E7B;
    --search-filter-border-color: #2E4A61;
    --search-filter-highlight-text-color: #6994B7;
    --search-filter-highlight-bg-color: #040608;
    --search-results-background-color: #000119;
    --search-results-foreground-color: #3A5E7B;
    --search-results-border-color: #2E4A61;
    --search-box-shadow: inset 0.5px 0.5px 3px 0px #000119;

    /** code fragments */
    --code-keyword-color: #CC99CD;
    --code-type-keyword-color: #AB99CD;
    --code-flow-keyword-color: #E08000;
    --code-comment-color: #717790;
    --code-preprocessor-color: #65CABE;
    --code-string-literal-color: #7EC699;
    --code-char-literal-color: #00E0F0;
    --code-xml-cdata-color: #C9D1D9;
    --code-vhdl-digit-color: #FF00FF;
    --code-vhdl-char-color: #C0C0C0;
    --code-vhdl-keyword-color: #CF53C9;
    --code-vhdl-logic-color: #FF0000;
    --code-link-color: #79C0FF;
    --code-external-link-color: #79C0FF;
    --fragment-foreground-color: #C9D1D9;
    --fragment-background-color: #000119;
    --fragment-border-color: #30363D;
    --fragment-lineno-border-color: #30363D;
    --fragment-lineno-background-color: #000119;
    --fragment-lineno-foreground-color: #6E7681;
    --fragment-lineno-link-fg-color: #6E7681;
    --fragment-lineno-link-bg-color: #303030;
    --fragment-lineno-link-hover-fg-color: #8E96A1;
    --fragment-lineno-link-hover-bg-color: #505050;
    --fragment-copy-ok-color: #0EA80E;
    --tooltip-foreground-color: #C9D1D9;
    --tooltip-background-color: #202020;
    --tooltip-border-color: #C9D1D9;
    --tooltip-doc-color: #D9E1E9;
    --tooltip-declaration-color: #20C348;
    --tooltip-link-color: #79C0FF;
    --tooltip-shadow: none;
    --fold-line-color: #808080;
    --fold-minus-image: url('minusd.svg');
    --fold-plus-image: url('plusd.svg');
    --fold-minus-image-relpath: url('../../minusd.svg');
    --fold-plus-image-relpath: url('../../plusd.svg');

    /** font-family */
    --font-family-normal: Roboto, sans-serif;
    --font-family-monospace: 'JetBrains Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, fixed;
    --font-family-nav: 'Lucida Grande', Geneva, Helvetica, Arial, sans-serif;
    --font-family-title: Tahoma, Arial, sans-serif;
    --font-family-toc: Verdana, 'DejaVu Sans', Geneva, sans-serif;
    --font-family-search: Arial, Verdana, sans-serif;
    --font-family-icon: Arial, Helvetica;
    --font-family-tooltip: Roboto, sans-serif;

    /** special sections */
    --warning-color-bg: #2e1917;
    --warning-color-hl: #ad2617;
    --warning-color-text: #f5b1aa;
    --note-color-bg: #3b2e04;
    --note-color-hl: #f1b602;
    --note-color-text: #ceb670;
    --todo-color-bg: #163750;
    --todo-color-hl: #1982D2;
    --todo-color-text: #dcf0fa;
    --test-color-bg: #121258;
    --test-color-hl: #4242cf;
    --test-color-text: #c0c0da;
    --deprecated-color-bg: #2e323b;
    --deprecated-color-hl: #738396;
    --deprecated-color-text: #abb0bd;
    --bug-color-bg: #2a2536;
    --bug-color-hl: #7661b3;
    --bug-color-text: #ae9ed6;
    --invariant-color-bg: #303a35;
    --invariant-color-hl: #76ce96;
    --invariant-color-text: #cceed5;
}
/*<div id="main-nav"><ul class="sm sm-dox"*/