/* Shared here: https://github.com/jothepro/doxygen-awesome-css/discussions/13 */
html{
    /* font sizes */
    --page-font-size: 15.6px;
    --navigation-font-size: 14.4px;
    --code-font-size: 14.4px; /* affects code, fragment */
    --title-font-size: 26px;

    /* Download Source Code Pro from https://askubuntu.com/questions/193072/how-to-use-the-adobe-source-code-pro-font */
    --font-family-monospace: Source Code Pro,Menlo,Monaco,Consolas,Monosapce Rregular,Courier New;
    /* fragment colors (= code blocks) light-mode */
    --fragment-foreground: black;
    --fragment-background: #f5f5f5;
    --fragment-keyword: #008000;
    --fragment-keywordtype: #604020;
    --fragment-keywordflow: #e08000;
    --fragment-comment: #586e75;
    --fragment-token: #800000;
    --fragment-link: var(--primary-color);
    --fragment-preprocessor: #806020;
    --fragment-linenumber-border: #f5f5f5;
    --fragment-linenumber-color: #586e75;
    --fragment-linenumber-background: #f5f5f5;
    /*--fragment-token: #7ec699; (string literals)
    --fragment-background: #fbfcfd;*/

    --fragment-lineheight: 20px;
    --top-height: 220px; /* Height of the left side menu top section */

}
/* Make code blocks in light mode when color scheme is in light-mode*/
@media (prefers-color-scheme: dark) {
    html:not(.light-mode) {
        --fragment-background: #282c34;
        --fragment-foreground: #ffffff;
        --fragment-keyword: #cc99cd;
        --fragment-keywordtype: #ab99cd;
        --fragment-keywordflow: #e08000;
        --fragment-token: #7ec699;
        --fragment-comment: #999999;
        --fragment-link: #98c0e3;
        --fragment-preprocessor: #65cabe;
        --fragment-linenumber-color: #cccccc;
        --fragment-linenumber-background: #35393c;
        --fragment-linenumber-border: #1f1f1f;
        --fragment-lineheight: 20px;
    }
}
html.dark-mode{
    /* fragment colors dark-mode */
    --fragment-background: #282c34;
    --fragment-foreground: #ffffff;
    --fragment-keyword: #cc99cd;
    --fragment-keywordtype: #ab99cd;
    --fragment-keywordflow: #e08000;
    --fragment-token: #7ec699;
    --fragment-comment: #999999;
    --fragment-link: #98c0e3;
    --fragment-preprocessor: #65cabe;
    --fragment-linenumber-color: #cccccc;
    --fragment-linenumber-background: #35393c;
    --fragment-linenumber-border: #1f1f1f;
    --fragment-lineheight: 20px;
}

.menubar {
    margin: 0px;
    padding: 0px;
    display: table;
}

.menubar li {
    float: left;
    display: table-cell;
    line-height: 36px;
    list-style: none;
}

.menubar a {
    display: block;
    padding: 0 10px;
    font-size: 18px;
    color: var(--primary-color) !important;
    text-decoration: none;
    text-shadow: none;
}

.menubar a:hover {
    text-decoration: none;
    text-shadow: none;
    font-size: 18px !important;
    color: var(--menu-focus-foreground) !important;
    background-color: var(--menu-focus-background);
    border-radius: var(--border-radius-small) !important;
}

#projectname{
    white-space: normal;
}

/* (c) Axel Naumann, CERN; 2020-03-02 */
/* Modified by Bernd Riederer to incorporate color schemes from doxygen-awesome */
/* Adapted from https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
    margin-left: var(--spacing-small);
    border: 1px solid lightgray;
    color: white;
    background-color: var(--primary-color);
    padding:  var(--spacing-small);
    font-size: 14px;
    min-width: 85px;
  }
  .dropbtn:after{
      content: '';
      border: 4px solid transparent;
      border-top: 4px solid white;
      margin-left: 12px;
      margin-bottom: 3px;
      display: inline-block;
      vertical-align: bottom;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: var(--spacing-small);
    background-color: var(--primary-lightest-color);
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */.dropdown-content a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: var(--primary-lighter-color);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
     color: black;
     background-color:  var(--primary-light-color);
  }